.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    border-top: 0.5px solid #434343;
    color: #949494;
}

.terms{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.terms a {
    text-decoration: none;
    color: #949494;
    transition: 0.3s all ease;
}

.terms a:hover
{
    color: #ffffff;
}

button{
    border: none;
    background: none;
    color: #949494;
    cursor: pointer;
    transition: 0.3s all ease;
}

button:hover
{
    color: #ffffff;
}

@media (max-width:900px) {
    .terms
    {
        display: none;
    }
}